h1 {
    line-height: 10px;
}

.month{
    display: flex;
    justify-content: center;
}

.days{
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

#calendar-table{
    border: 2px solid black;
}

td{
    text-align: center;
    height: 100px;
}

.has-date:hover{
    background-color: rgb(192, 192, 192);
    cursor: pointer;
}

.todays-date{
    background-color: rgb(148, 205, 255);
}

th{
    font-size: 1.5vw;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px;
    min-width: 100px;
}

table {
    border-collapse: collapse;
    width: 20vw;
    height: 200px;
}

ul{
    list-style: square !important;
}

.selected{
    background-color: blue;
}

.no-border{
    border: none;
}

th:hover{
    background-color: aqua;
}

.arrow:hover{
    cursor: pointer;
}