body{
    background-color: rgb(216, 238, 243);
    font-family: noto 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color:  rgb(44, 47, 47);
    padding-right: 40px;
}

h1 {
    line-height: 10px;
    color:  rgb(44, 47, 47);
    padding-bottom: 20px;
}

.arrow{
    padding: 0px 15px 0px 15px;
    color:rgb(44, 47, 47);
}

.arrow:hover {
    transform: translate3d(0, -2px, 0);
    color:rgb(30, 170, 163)
}

.modal-header{
    background-color: whitesmoke;
    color: rgb(44, 47, 47);
}

.fixed-action-button{
    position: absolute;
    right: 5px;
    top: 1vw;
    align-content: center;
}

.hidden{
    display: none;
}

.modal-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.month{
    display: flex;
    justify-content: center;
}

.days{
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    color:  rgb(44, 47, 47);
}

.card{
    padding: 10px;
}

.edit-event:hover,
.delete-event:hover{
    cursor: pointer;
    color: aquamarine;
}

.edit-delete{
    position: absolute;
    bottom: 0%;
    right: 2%;
}

.modal-title{
    margin: 0%;
    font-size: 5vw;
}

#calendar-table{
    border: 2px solid rgb(44, 47, 47);
    background-color:whitesmoke;
}

td{
    text-align: center;
    height: 100px;
}

.has-date:hover{
    background-color: rgb(192, 192, 192);
    cursor: pointer;
}

.todays-date{
    background-color: rgb(240, 216, 98);
}

th{
    font-size: 3vw;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px;
    min-width: 100px;
}

table {
    border-collapse: collapse;
    width: 20vw;
    height: 200px;
}

.selected{
    background-color: rgb(30, 170, 163);
}

.no-border{
    border: none;
}

.arrow:hover{
    cursor: pointer;
}

.search-title {
    color:  rgb(44, 47, 47);
    font-family: noto 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background-color: rgb(30, 170, 163);
    color: white;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    border: 0;
    box-shadow: 1px 1px 2px rgb(150, 149, 149);
}